@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('assets/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
}

* {
  box-sizing: border-box;
}

button,
input {
  outline: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: #2d2d2d;
}

body {
  margin: 0;
  padding: 20px;
  color: #262121eb;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
